<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <meta charset="UTF-8">
        <title>Lista de Produtos</title>
    </head>
<body>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Data Fabricação</th>
        <th>Novo</th>
        <th></th>
    </tr>
    <tr th:each="prod:${produtos}">
        <input th:field="*{codigo}" type="hidden">
        <td th:text="${prod.nome}"></td>
        <td th:text="'R$' + ${#numbers.formatDecimal(prod.preco, 1,2)}"></td>
        <td th:text="${#temporals.format(prod.dataFabricacao, 'dd/MM/yyyy')}"></td>
        <td th:text="${prod.novo?'Sim':'Não'}"></td>
    </tr>
</table>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>